{% include 'Inc/header.html' %}
    <div class="container-fluid">

        <div class="row gx-3 text-white mt-2 mb-2">
            <div class="col-6 first-row-status-columns">
                <div class="py-1 h-100">
                    <div class=" -bg-primary p-4 box h-100">
                        <div class="header-box">
                            <p class="fs-3 text-center">قيد الانشاء</p>
                        </div>
                        <div class="counter-box">
                            <br>
                            <p class="fs-3 text-center">5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 first-row-status-columns">
                <div class="py-1 h-100">
                    <div class=" -bg-primary p-4 box h-100">
                        <div class="header-box">
                            <p class="fs-3 text-center">في القص</p>
                        </div>
                        <br>
                        <div class="counter-box">

                            <p class="fs-3 text-center">5</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row gx-3 text-white">
            <div class="col-6 col-sm-6 col-xl-4 second-row-status-columns">
                <div class="py-1">
                    <div class=" -bg-primary p-3 box">
                        <div class="header-box">
                            <p class="fs-3 text-center">في الخياطه</p>
                        </div>
                        <div class="counter-box">
                            <p class="fs-3 text-center">5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-sm-6 col-xl-4 second-row-status-columns">
                <div class="py-1 h-100">
                    <div class=" -bg-primary p-3 box h-100">
                        <div class="header-box">
                            <p class="fs-3 text-center">جاهز</p>
                        </div>
                        <div class="counter-box">
                            <p class="fs-3 text-center">5</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-xl-4 second-row-status-columns mt-xl-0 mt-2">
                <div class="py-1">
                    <div class=" -bg-primary p-3 box ">
                        <div class="header-box">
                            <p class="fs-3 text-center">تم تسليم المندوب</p>
                        </div>
                        <div class="counter-box">
                            <p class="fs-3 text-center">5</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row text-white box-wrapper d-flex justify-content-center mb-5">
            <div class="col-12 -bg-primary table-container p-3">
                <table class="table table-bordered text-white my-3">
                    <thead>
                        <tr>
                            <th class="fs-5" scope="col">#</th>
                            <th class="fs-5" scope="col">اسم العميلة</th>
                            <th class="fs-5" scope="col">العباية</th>
                            <th class="fs-5" scope="col">الملاحظات</th>
                            <th class="fs-5" scope="col">الفاتورة</th>
                            <th class="fs-5" scope="col">الحاله</th>
                            <th class="fs-5" scope="col">المدفوع</th>
                            <th class="fs-5" scope="col">المتبقي</th>
                            <th class="fs-5" scope="col">تاريخ الطلب</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in range(10) %}
                        <tr class="text-center">
                            <th scope="row">{{i+1}}</th>
                            <td>مريم فهد محمد علي باصره سالم احمد</td>
                            <td>عباية الصيف</td>
                            <td>لون ازرق وتبديل الازرار الى سحاب</td>

                            <td class="d-flex justify-content-evenly bill-column">
                                <a class="mx-1"
                                    href="https://www.invoicesimple.com/wp-content/uploads/2018/06/Screen-Shot-2018-06-01-at-4.19.31-PM-640x782.png"
                                    target="_blank">استعراض</a>
                                <a class="mx-1" target="_blank" id="print" onclick="print()"> طباعة</a>

                                <a class="mx-1" href="https://www.invoicesimple.com/wp-content/uploads/2018/06/Screen-Shot-2018-06-01-at-4.19.31-PM-640x782.png" download="invoice">تحميل</a>
                            </td>
                            <td class="status-column">
                                <select class="form-select" aria-label="Default select example">
                                    <option style="color: white !important;" selected hidden>تحديد الحالة
                                    </option>
                                    <option class="options" value="1">قيد الانشاء</option>
                                    <option class="options" value="2">جاهز</option>
                                    <option class="options" value="3">تم تسليم المندوب</option>

                                </select>
                            </td>
                            <td class="money">300</td>
                            <td class="money">500</td>
                            <td >2022/01/01</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% include "Inc/footer.html" %}

<!-- Put any script that apllies for this page only here -->
<script src="static/factorView.js"></script>

</html>