html {
    direction: rtl;
    scroll-behavior: smooth;
    /* --bg-color: #b0b0b0; */
    --bg-color: #f2f2f2;
    --primary-color: #262626;
    --secondary-color: #3C3B40;

    /* Header color */
    --text-header-color: #262626;


    /* Text colors */
    --text-color: #F2F2F2;
    
    /* Button colors */
    --enabled-btn: #3C3B40;
    --disabled-btn: #302f32;

    /* Border */
    --border-color: #ffffff60
}
body{
    transition: all 450ms ease-in-out;
}

.dark-mode{
    /* --bg-color: #b0b0b0; */
    --bg-color: #222222;
    --primary-color: #2f2f2f;
    --secondary-color: #f2f2f2;

    /* Header color */
    --text-header-color: #f2f2f2;


    /* Text colors */
    --text-color: #f2f2f2;
    
    /* Button colors */
    --enabled-btn: #3C3B40;
    --disabled-btn: #302f32;
    
    /* Border */
    --border-color: #ffffff60
}

label{
    user-select: none;
}
img{
    user-select: none;
}

::placeholder{
    user-select: none;
}

.logo {
    display: block;
    margin: 0 auto;
}

.display-2 {
    animation: display-2 950ms ease-in;
    word-spacing: 12px;
    color: var(--text-header-color) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
label,
input,
textarea,
button,
th,
tr,
thead {
    font-family: 'Tajawal';
    text-align: right;
}
a{
    color: var(--text-color);
    text-decoration: none;
    transition: all 100ms ease-in-out;
}
a:hover{
    color: rgb(193, 191, 191);
    text-decoration: underline rgb(193, 191, 191);
    transform: scale(1.02);
    cursor: pointer;

}
p{
    color: var(--text-color) !important;
}
table,th,tr,td,select{
    color: var(--text-color);
}


input:focus, select:focus {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}


.client-data-form {
    background-color: var(--primary-color) !important;
    border-radius: 10px;
}

.client-data-container {
    margin-top: -0.5rem;
    animation: client-data-container-load 950ms ease-in-out;
}



br {
    user-select: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--bg-color);
}

.-bg-primary {
    background-color: var(--primary-color) !important;
}

.-bg-secondary {
    background-color: var(--secondary-color) !important;
}



.header-box {
    overflow-y: auto !important;

}

.btn {
    transition: all 950ms ease-in-out;
    background-color: var(--enabled-btn);
}

.box:hover{
    transform: scale(1.01);
    box-shadow: var(--disabled-btn) 1px 1px 1px 1px !important;
}

.box {
    background-color: var(--primary-color) !important;
    transition: all 950ms ease-in-out;
    border-radius: 10px;
}
.box-wrapper {
    margin-top: .75rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.table-container {
    max-height: 25rem;
    overflow-y: auto !important;
    transition: all 950ms ease-in-out;
    border-radius: .5rem;
}

.table-bordered{
    border: .1rem var(--text-color) solid !important;
}


.table-container::-webkit-scrollbar {
    width: .5rem;
    height: .5rem

}
.table-container::-webkit-scrollbar-corner{
    background-color: transparent;
}
.table-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    border-radius: 16px;
    height: 50%;

}
 
.table-container::-webkit-scrollbar-thumb {
    border-radius: 16px;
    background-color: var(--secondary-color);
}

/* Animations */


/* End Animations */




/* Hid scrolbar */
html {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

/*  */

/* Hide up && down arrows on type: number inputs */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}



/* factory table */

th {
    text-align: center;
    vertical-align: middle;
}

.bill-column {
    border: none;
}

.status-column {
    padding: 0% !important;
}

.form-select {
    border: none !important;
    border-radius: 0px none !important;
    height: 3rem !important;
    background-color: transparent;
    color: var(--text-color) !important;
    stroke: var(--text-color) !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-position: left .75rem center;
    background-size: 2rem 1.5rem;
    padding: 0.375rem 0.75rem 0.375rem 2.25rem;
}

select:focus{
    color: var(--text-color);
    background-color: var(--primary-color) !important;
}

@media (max-width: 576px) {
    .status-column>select {
        width: fit-content;
        height: fit-content;
    }
}


.money{
    text-align: center;
    vertical-align: middle;
}
.btn{
    color: var(--text-color) !important;
}
.btn:hover{
    transform: scale(1.01);
}
input{
    color: var(--dar-text-color);
}

