<div class="row client-data-container text-white mb-5">
    <form>
        <p class="text-center mb-2 form-name display-2 fw-normal ">القياسات</p>
        <div class="col client-data-form p-5 mx-1">
            <div class="row">
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="length" class="col-form-label col-form-label-lg p-0 fs-6">الطول</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="length"
                        placeholder="الطول">
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="shoulders" class="col-form-label col-form-label-lg p-0 fs-6">الكتف</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="shoulders"
                        placeholder="الكتف">
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="sleeve" class="col-form-label col-form-label-lg p-0 fs-6">الكٌم</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="sleeve"
                        placeholder="الكٌم">
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="waist" class="col-form-label col-form-label-lg p-0 fs-6">الخصر</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="waist"
                        placeholder="الخصر">
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="width" class="col-form-label col-form-label-lg p-0 fs-6">العرض</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="width"
                        placeholder="العرض">
                </div>

                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="tarhaLength" class="col-form-label col-form-label-lg p-0 fs-6">طول الطرحه</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="tarhaLength"
                        placeholder="طول الطرحه">
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="tarhaWidth" class="col-form-label col-form-label-lg p-0 fs-6">عرض الطرحه</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="tarhaWidth"
                        placeholder="عرض الطرحه">
                </div>
                <div class="col-6 col-md-4 col-lg-4 col-xl-3 sizeBox">
                    <label for="fabric" class="col-form-label col-form-label-lg p-0 fs-6">القماش</label>
                    <input type="number" class="form-control form-control-md rounded" min="0" id="fabric"
                        placeholder="القماش">
                </div>



            </div>
        </div>

        <button type="submit" class="fs-4 text-center  btn -bg-primary w-100"
            style="margin-top: 3rem!important; border-radius: 10px;">ارسال</button>

    </form>
</div>