<div class="row text-white mt-2">
    <div class="col">
        <div class="px-4 py-2 client-data-form items-container table-container">
            <table class="table table-bordered text-white my-3">
                <thead>
                    <tr>
                        <th class="fs-6" scope="col">#</th>
                        <th class="fs-6" scope="col">رقم الصنف</th>
                        <th class="fs-6" scope="col">اسم الصنف</th>
                        <th class="fs-6" scope="col">الكمية</th>
                        <th class="fs-6" scope="col">السعر</th>
                        <th class="fs-6" scope="col">المجموع</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in range(1) %}
                    <tr class="text-center">
                        <th scope="row">{{i+1}}</th>
                        <td class="p-0">
                            <input type="text" class="form-control h-100" >
                        </td>
                        <td></td>
                        <td class="p-0">
                            <input type="number" class="form-control h-100"  id="quantity" min="0">
                        </td>
                        <td class="p-0">
                            <input type="number" class="form-control h-100"  id="price">
                        </td>
                        <td class="p-0">
                            <span id="total" ></span>
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- <div class="row text-center">
                <div class="col-3 items-table-labels">
                    <label> رقم الباركود</label>
                </div>
                <div class="col-6 items-table-labels item-name-label">
                    <label> اسم الصنف</label>
                </div>
                <div class="col items-table-labels">
                    <label> الكمية</label>
                </div>
                <div class="col-2 items-table-labels">
                    <label> السعر</label>
                </div>

            </div> -->
            {# for i in range(1) #}
            <!-- <div class="row text-center">
                <div class="col-3 items-table-labels">
                    <input type="text" class="form-control w-100" placeholder="الباركود">
                </div>
                <div class="col-6 items-table-labels item-name-label">
                    <p class="text text-center"> </p>
                </div>
                <div class="col items-table-labels">
                    <p class="text text-center">  </p>
                </div>
                <div class="col-2 items-table-labels">
                    <p class="text text-center">  </p>
                </div>
            </div> -->
            {# endfor #}
            {# for i in range(20) #}
            <!-- <div class="row text-center">
                <div class="col-3 items-table-labels">
                    <input type="number" class="form-control w-100" placeholder="الباركود">
                </div>
                <div class="col-6 items-table-labels item-name-label">
                    <p class="text text-center"> عبايه الصيف 20022</p>
                </div>
                <div class="col items-table-labels">
                    <p class="text text-center"> 1 </p>
                </div>
                <div class="col-2 items-table-labels">
                    <p class="text text-center"> 25 </p>
                </div>
            </div> -->
            {# endfor #}
        </div>
    </div>
</div>

<script>
    document.getElementById("price").addEventListener("keyup", () => {
        let price = document.getElementById("price")
        let qnt = document.getElementById("quantity")
        
        let total = document.getElementById("total")
    
        total.value = parseInt(price.value) * parseInt(qnt.value)
        
        console.log(total);
    })
</script>